
h1{
  padding-top: 10px;
  display: flex; 
  justify-content: center;
}
h2{
  display: flex;
  justify-content: center;
}
#input{
  display: block;
  margin: 0 auto;
}
#box{
  margin: 0 auto;
  margin-top: 160px;
  background-color: white;
  box-shadow: 0 0 10px gray;
  height: 50vh;
  width: 50vh;
}
#button{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 10px;
}
#rebutton{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 10px;
}
